<%- include('./partials/header') %>

    <link rel="stylesheet" href="css/event.css">

    <div class="container container-event">
        <div class="row">
            <div class="col">
                <img src="/img/event4.jpg" class="card-img-top image" alt="img event">
            </div>
            <div class="col info">
                <div class="row">
                    <h1>
                        <%= name %>
                    </h1>
                    <h4>
                        <%= location %>
                    </h4>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>
                            <%= status %>
                        </h5>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Buy ticket</a>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <%- include('./partials/footer') %>