<%- include('./partials/header') %>

    <link rel="stylesheet" href="css/events.css">

    <body>

        <div class="container container-card">

            <div class="row">
                <% events.forEach(function(event, index){ %>
                    <div class="col">
                        <div class="card text-center">
                            <img src="/img/event4.jpg" class="card-img-top" alt="img event">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= event['name'] %>
                                </h5>
                                <p class="card-text">
                                    <%= event['location'] %>
                                </p>
                                <ul class="list-group list-group-flush">

                                    <form action="/event" method="post">
                                        <input type="text" value="<%= event['name'] %>" name="name" style="display: none;">
                                        <input type="text" value="<%= event['location'] %>" name="location" style="display: none;">
                                        <input type="text" value="<%= event['status'] %>" name="status" style="display: none;">
                                        <input type="text" value="<%= event['sit'] %>" name="sit" style="display: none;">
                                        <input type="text" value="<%= event['price'] %>" name="price" style="display: none;">
                                        <button class="btn btn-primary">Go to event</a>
                                    </form>

                                </ul>
                                <div class="card-footer text-muted">
                                    <p class="card-subtitle mb-2">
                                        status: <%= event['status'] %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

    </body>
    <%- include('./partials/footer') %>