<%- include('./partials/header') %>

    <link rel="stylesheet" href="css/personal.css">


    <body>

        <div class="loader">
            <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="Loading...">
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">location</th>
                    <th scope="col">tickets</th>
                    <th scope="col">price</th>
                </tr>
            </thead>
            <tbody>
                <% rowEv.forEach(function(rowEv, index){ %>
                    <tr>
                        <th scope="row">
                            <%= rowEv['id'] %>
                        </th>
                        <td>
                            <%= rowEv['name'] %>
                        </td>
                        <td>
                            <%= rowEv['location'] %>
                        </td>
                        <td>
                            <%= rowEv['nTicket'] %>
                        </td>
                        <td>
                            <%= rowEv['price'] %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </body>

    <%- include('./partials/footer') %>