<%- include('./partials/header') %>

    <link rel="stylesheet" href="css/personal.css">


    <body>

        <div class="loader">
            <!-- <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="Loading..."> -->
            <img class="img-loader" src="https://cdn.dribbble.com/users/107759/screenshots/4231691/radar.gif" alt="Loading...">
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nome</th>
                    <th scope="col">luogo</th>
                    <th scope="col">n°</th>
                    <th scope="col">prezzo</th>
                </tr>
            </thead>
            <tbody>
                <% rowEv.forEach(function(rowEv, index){ %>
                    <tr>
                        <th scope="row">
                            <%= rowEv['id'] %>
                        </th>
                        <td>
                            <%= rowEv['tname'] %>
                        </td>
                        <td>
                            <%= rowEv['tlocation'] %>
                        </td>
                        <td>
                            <%= rowEv['nTicket'] %>
                        </td>
                        <td>
                            <%= rowEv['tprice'] %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </body>

    <%- include('./partials/footer') %>