<%- include('./partials/header') %>

    <link rel="stylesheet" href="css/event.css">

    <body>

        <div class="loader">
            <!-- <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="Loading..."> -->
            <img class="img-loader" src="https://cdn.dribbble.com/users/107759/screenshots/4231691/radar.gif" alt="Loading...">
        </div>

        <div class="container container-event">
            <form action="/qrCode" method="post" class="form">
                <div class="form-row">
                    <div class="row">
                        <div class="col info">
                            <h1>
                                <%= name %>
                            </h1>
                            <h4>
                                <%= location %>
                            </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <h4>Numero biglietti</h4>
                                <select multiple class="form-control" name="nTicket" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col sit">
                            <div class="form-check">
                                <h4>Posto:</h4>
                                <h6>
                                    <%= sit %>
                                </h6>
                                <br>
                                <h4> Pezzo:</h4>
                                <h6>
                                    <%= price %>€
                                </h6>
                                <br>
                            </div>

                            <input type="text" value="<%= email %>" name="logEmail" style="display: none;">
                            <input type="text" value="<%= name %>" name="name" style="display: none;">
                            <input type="text" value="<%= location %>" name="location" style="display: none;">
                            <input type="text" value="<%= sit %>" name="sit" style="display: none;">
                            <input type="text" value="<%= price %>" name="price" style="display: none;">
                            <button class="btn btn-primary" style="width: 60%;">Conferma</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </body>


    <%- include('./partials/footer') %>